__pycache__/
.idea/
.venv/
venv/
.ipynb_checkpoints/
training_checkpoints/
/Artificial Intelligence/Home_Work/DataSet/
/Artificial Intelligence/Home_Work/.ipynb_checkpoints/
/Artificial Intelligence/Home_Work/summarization_checkpoints/
/Artificial Intelligence/Home_Work/training_checkpoints/
/Artificial Intelligence/My_conspect/DataSet/
/Artificial Intelligence/My_conspect/.ipynb_checkpoints/
/Artificial Intelligence/Home_Work/DataSet/*.csv
/Artificial Intelligence/Home_Work/DataSet/*.jpg

*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.log
*.pyc
*.pyo
*.pyd
*.env
*.csv
*.h5
*.keras
*.pt
*.ckpt
*.data-00000-of-00001
*.index
*.h5
*.pt
*.pth
*.zip
*.tar
*.tar.gz







